<!DOCTYPE html>
<html>
<head>
  <title>agent</title>
</head>

<style type="text/css" media="screen">
  table, th, td{
    border: 1px solid black;
  }
</style>

<body>
<div>
  <h1>Welcome {{username}}</h1>
</div>
<div>
  <h3>Upcoming Flight(s)</h3>
  <table>
    <th>Customer</th>
    <th>Ticket ID</th>
    <th>Flight</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    {% for line in posts %}
    <tr>
      <td>{{line.customer_email}}</td>
      <td>{{line.ticket_id}}</td>
      <td>{{line.airline_name}} {{line.flight_num}}</td>
      <td>{{line.departure_airport}}</td>
      <td>{{line.departure_time}}</td>
      <td>{{line.arrival_airport}}</td>
      <td>{{line.arrival_time}}</td>
    </tr>
    {% endfor %}
  </table>   
  {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
  {% endif %}  
</div>

<div>
  <h3><a href="/purchasePageAgent">Purchase</a></h3>
</div>
<div>
  <h3><a href="/searchPageAgent">Search Flight</a></h3>
</div>    
<div>
  <h3>My Commission</h3>
  <div>
    <span>Total amount of commission received in the past 30 days:</span> {{totalComm}} <br>
    <span>Average commission received per ticket booked in the past 30 days:</span> {{avgComm}} <br>
    <span>Total number of tickets sold in the past 30 days</span>: {{ticketCount}}<br>
  </div>
  <h4>View Commision for Specified Duration</h4>
  <div>
    <form action="/commission" method="POST">
    From 
    <input type="date" name = "fromdate" placeholder="date" required> <br>
    To
    <input type="date" name = "todate" placeholder="date" required> <br><br>
    <input type="submit" value=View>   
    </form>
  </div>
</div>      

<br><br>
<a href="/logout">Logout</a>

</body>

</html>
