<!DOCTYPE html>
<html>
<head>
</head>

<body>
<h1>Commision from {{fromdate}} to {{todate}}</h1>
<!-- <div>
  <span>Total amount of commission received in the past 30 days:</span> {{totalComm}} <br>
  <span>Average commission received per ticket booked in the past 30 days:</span> {{avgComm}} <br>
  <span>Total number of tickets sold in the past 30 days</span>: {{ticketCount}}<br>
</div> -->

<div>
<!--   <form action="/viewCommission" method="POST">
  From 
  <input type="date" name = "fromdate" placeholder="date" required> <br>
  To
  <input type="date" name = "todate" placeholder="date" required> <br>    
  </form> -->
  <span>Total amount of commission received: </span> {{totalComm}}<br>
  <span>Total numbers of tickets sold: </span>{{ticketCount}}
</div>

<br><br>
<a href="/agentHome">Go back to my home page</a>

</body>

</html>