<html>
<head>
</head>
<body>
<h2>Create Flight</h2>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<form action="/staffHome/createFlight/Auth" method="POST">
  <input type="number" name = "flightnum" placeholder="Flight Number" required/> </br>
  <input type="text" name = "departport" placeholder="Departure Airport" required/> </br>
  Departure Time </br>
  <input type=datetime-local name = "departtime" step="1" required> </br>
  <input type="text" name = "arriveport" placeholder="Arrival Airport" required/> </br>
  Arrival Time </br>
  <input type=datetime-local name = "arrivetime" step="1" required> </br>
  <input type="number" name = "price" placeholder="Ticket Price" required/> </br>
  <input type="text" name = "airplanenum" placeholder="Airplane ID" required/> </br>
  
  <input type="submit" value = Submit />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<table>
	<th>Airports</th>
	
{% for line in airportdata %}
	<tr>
		<td>{{line.airport_name}}</td>
	</tr>
{% endfor %}
</table>

<table>
	<th>Airplanes</th>
	
{% for line in airplanedata %}
	<tr>
		<td>{{line.airplane_id}}</td>
	</tr>
{% endfor %}
</table>


<a href="/staffHome">Go back</a>

</body>


</html>
