<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div>
  <h1>Welcome {{username}}</h1>
</div>
<div>
  <span>My Upcoming Flight(s)</span>
  <table>
    <th>Ticket ID</th>
    <th>Flight</th>
    <th>Departure Airport</th>
    <th>Departure Time</th>
    <th>Arrival Airport</th>
    <th>Arrival Time</th>
    {% for line in posts %}
    <tr>
      <td>{{line.ticket_id}}</td>
      <td>{{line.airline_name}} {{line.flight_num}}</td>
      <td>{{line.departure_airport}}</td>
      <td>{{line.departure_time}}</td>
      <td>{{line.arrival_airport}}</td>
      <td>{{line.arrival_time}}</td>
    </tr>
    {% endfor %}
  </table>  
</div>
<div>
  <a href="/purchasePageCustomer">Purchase</a>
</div>
<div>
  <a href="/searchPageCustomer">Search from All Flights</a>
</div>    

<a href="/logout">Logout</a>

</body>

</html>
