<!DOCTYPE html>
<html>

<head>
  <title>index</title>
</head>

<body>
<div>
  <img src="{{url_for('static', filename='bg.jpg')}}" alt="bg">
  <h1>Airline Booking System</h1>
</div>
<div>
  <a href="/search">View Public Info</span>
</div>
<div>
  <a href="/login">Login</a>
</div>
<div>
  <a href="/registerCustomer">New Customer</a> <br>
  <a href="/registerAgent">New Agent</a>  <br>
  <a href="/registerStaff">New Staff</a>   
</div>

{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

</body>

</html>
