<!DOCTYPE html>
<html>
<head>
  <title>searchAgent</title>
</head>

<style type="text/css" media="screen">
  table, th, td{
    border: 1px solid black;
  }
</style>

<body>
<h1>Search all flights</h1>
<form action="/searchAgent" method="POST">
  From <br>
  <input type="text" name = "fromcity" placeholder="city" required>
  <input type="text" name = "fromairport" placeholder="airport" required>
  <input type="date" name = "fromdate" placeholder="date" required> <br><br>
  To <br>
  <input type="text" name = "tocity" placeholder="city" required>
  <input type="text" name = "toairport" placeholder="airport" required>
  <input type="date" name = "todate" placeholder="date" required> <br><br>
  <input type="submit" value = Search />
</form>

<br><br>

<table>
  <th>Customer</th>
  <th>Airline Name</th>
  <th>Flight Number</th>
  <th>Departure Airport</th>
  <th>Departure Time</th>
  <th>Arrival Airport</th>
  <th>Arrival Time</th>
  <th>Price</th>
  <th>Status</th>
  <th>Airplane ID</th>
  
{% for line in results %}
  <tr>
    <td>{{line.customer_email}}</td>
    <td>{{line.airline_name}}</td>
    <td>{{line.flight_num}}</td>
    <td>{{line.departure_airport}}</td>
    <td>{{line.departure_time}}</td>
    <td>{{line.arrival_airport}}</td>
    <td>{{line.arrival_time}}</td>
    <td>{{line.price}}</td>
    <td>{{line.status}}</td>
    <td>{{line.airplane_id}}</td>
  </tr>
{% endfor %}
</table>
{% if error %}
  <p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<br><br>
<a href="/searchPageAgent">Search again</a>
<a href="/agentHome">Go back to my home page</a>

</body>

</html>