<!DOCTYPE html>
<html>
<head>
</head>

<body>

<form action="/searchCustomer" method="POST">
  From <br>
  <input type="text" name = "fromcity" placeholder="city" required>
  <input type="text" name = "fromairport" placeholder="airport" required>
  <input type="date" name = "fromdate" placeholder="date" required> <br>
  To <br>
  <input type="text" name = "tocity" placeholder="city" required>
  <input type="text" name = "toairport" placeholder="airport" required>
  <input type="date" name = "todate" placeholder="date" required> <br>
  <input type="submit" value = Search />
</form>

<table>
  <th>airline_line</th>
  <th>flight_num</th>
  <th>departure_airport</th>
  <th>departure_time</th>
  <th>arrival_airport</th>
  <th>arrival_time</th>
  <th>price</th>
  <th>status</th>
  <th>airplane_id</th>
  
{% for line in results %}
  <tr>
    <td>{{line.airline_name}}</td>
    <td>{{line.flight_num}}</td>
    <td>{{line.departure_airport}}</td>
    <td>{{line.departure_time}}</td>
    <td>{{line.arrival_airport}}</td>
    <td>{{line.arrivale_time}}</td>
    <td>{{line.price}}</td>
    <td>{{line.status}}</td>
    <td>{{line.airplane_id}}</td>
  </tr>
{% endfor %}
</table>

<a href="/searchPageCustomer">Search again</a>
<a href="/customerHome">Go back to my home page</a>

</body>

</html>