<!DOCTYPE html>
<html>
<head>
</head>

<body>

{% if message %}
    <h2>{{message}}</h2>
{% endif %}

<div>
  <h1>Welcome {{username}}</h1>
</div>

<a href="/staffHome/searchFlights">View Flights</a> <br/>
<a href="/staffHome/createFlight">Create Flight</a> <br/>
<a href="/staffHome/changeFlight">Change Flight Status</a> <br/>
<a href="/staffHome/addAirplane">Add Airplane</a> <br/>
<a href="/staffHome/addAirport">Add Airport</a> <br/>
<a href="/staffHome/viewAgents">View Booking Agents</a> <br/>
<a href="/staffHome/viewCustomers">View Customers</a> <br/>
<a href="/staffHome/viewReports">View Reports</a> <br/>
<br/>
<a href="/logout"> Logout</a><br/>

</body>

</html>
