<!DOCTYPE html>
<html>
<head>
</head>

<body>

{% if message %}
    <h2>{{message}}</h2>
{% endif %}

<div>
  <h1>Welcome {{username}}</h1>
</div>

View Flights <br/>
<a href="staffHome/createFlight">Create Flight</a> <br/>
<a href="/staffHome/changeFlight">Change Flight Status</a> <br/>
<a href="/staffHome/addAirplane">Add Airplane</a> <br/>
<a href="/staffHome/addAirport">Add Airport</a> <br/>
View Booking Agents <br/>
View Customers <br/>
View Reports <br/>
<br/>
<a href="/logout"> Logout </a><br/>

</body>

</html>
